

<div class="container"  ng-controller="loginController">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="well">
				<form ng-submit="login()" method="POST" class="form login" novalidate>
					<h2>Login</h2>
					<p style="color:red">{{message}}</p>
					<div class="form-group">
							<label for="login__email">Email</label>
							<input id="login__email" type="text" ng-model="loja.email" class="form-control" placeholder="Email" required>
					</div>
					<div class="form-group">
						<label for="login__password">Password</label>
						<input id="login__password" type="password" ng-model="loja.password" class="form-control" placeholder="Password" required>
					</div>
					<button type="submit" class="btn btn-default hvr-fade">Submit</button>
					<p class="text--center">Ainda não tens conta? <a href ng-click="register()">regista-te ja</a>
				</form>
			</div>
		</div>
	</div>
</div>