<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header text-center" style="font-weight:900;font-size:25px"><b>Pretende Eliminar?</b></div>
        <div class="modal-body" style="font-size:18px">Tem a certeza que pretende eliminar o produto &quot<b>{{produto.nome}}</b>&quot</div>
        <div class="modal-footer"> <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button></div>
    </div>
</div>