		
<div class="container" ng-controller="registerController" class="centerPage" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="well">
				<form class="form login" ng-submit="register(userForm.$valid)" enctype="multipart/form-data" novalidate>
					<h2>Registar</h2>
					<p style="color:red">{{message}}</p>
					<span ng-show="userForm.nome.$dirty && userForm.nome.$error.required">Este campo é obrigatorio !</span>
					<span ng-show="userForm.nome.$dirty && userForm.nome.$error.minlength" class="help-block">Tem que especificar um nome maior !</span>
					<span ng-show="userForm.nome.$dirty && userForm.nome.$error.maxlength" class="help-block">Tem que especificar um nome menor !</span>
					<div class="form-group">
						<label>Nome</label>
						<input id="store_name" type="text" name="nome" ng-minlength="3" ng-maxlength="8" ng-model="data.nome" class="form-control""
							placeholder="Nome da loja" required>
					</div>
					<span class="help-block" ng-show="userForm.email.$dirty && userForm.email.$error.required">Este campo é obrigatorio !</span>
					<span class="help-block" ng-show="userForm.email.$dirty && userForm.email.$error.email">Tem que inserir um email válido !</span>

					<div class="form__field">
						<label>Email</label>
						<input id="store_name" type="email" name="email" ng-model="data.email" class="form-control" placeholder="Email" required>
					</div>

					<span class="help-block" ng-show="userForm.email.$dirty && userForm.password.$error.required">Este campo é obrigatorio</span>
					<span class="help-block" ng-show="userForm.password.$dirty && userForm.password.$error.minlength">password muito curta </span>

					<div class="form__field">
						<label>Password</label>
						<input id="pw1" name="password" required ng-minlength="6" type="password" ng-model="data.password" class="form-control"" placeholder="Password">
					</div>

					<div class="form-group">
						<label for="exampleInputFile">Foto</label>
						<input type="file" id="exampleInputFile" file-model="data.file">
					</div>

					<div class="form__field">
						<input type="submit" value="Registar" class="btn btn-default hvr-fade" ng-disabled="userForm.$invalid">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>