
.text--center {
  text-align: center;
}

.drop.ng-invalid{
  border:1px solid red;
}

input.ng-invalid.ng-dirty{
  border:1px solid red;
}



textarea.ng-invalid.ng-dirty{
  border:1px solid red;
}


.modal {
  display: block !important;
}

.imageClip
    {
    width:500px;
    height:300px;
    overflow:hidden;
    }

  #loja{
    font-size:20px;
  }



.well{
  margin-top: 45px;
  padding-bottom: 45px;
  background-color: rgba(0, 0, 0, .4);
  border: none;
}



form h2{
  font-family: "Josefin Slab";
  font-weight: 300;
  color: #ccc;
  font-size: 1.8em;
  text-align: center;
}

.myLogo {
    padding-right: 1.5em;
    padding-top: 0px;
}

form label{
  font-family: "Josefin Slab";
  font-weight: 600;
  font-size: 1.4em;
  color: #ccc;
}

.myProduct {
    all: initial!important;
    width: 100%!important;
    height: auto!important;
}


.form-control{
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  color: #ccc;
}


.form-control:focus,
.form-control:hover,
.form-control:active{
  box-shadow: none;
  border-color: #ccc;
}

.btn-default{
  border: none;
  background: transparent;
  color: #ccc;
  font-family: "Josefin Slab";
  font-weight: 600;
}

.btn-default:hover{
  background: rgba(255, 255, 255, .2);
  color: white;
}


